[data-answer] {
	color: green;
}
.calculator {
	width: 310px;
	margin: 50px auto;
	background-image: url('whatsapp-bg.png');
	border: none;
	padding: 0px 20px 20px;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	box-shadow: 1px 2px 2px #000;
}
.display{
	width: 100%;
	height: 400px;
	background: #fff;
	font-size: 50px;
}
table {
	margin: 
}
.heading {
	color: grey;
	font-size: 130%;
	text-align: center;
	padding: 10px;
}
#input, #answer{
	width: 260px;
	height: 50px;
	font-size: 130%;
	text-align: right;
	border:none;
}
#input:focus, #answer:focus{
	outline: none;
}
#input {
	color: #1e1e1e;
}
#backspace {
	color: red;
}
input[type=button] {
	height: 60px;
	font-size: 130%;
	width: 60px;
	color: blue;
	background: #fff;
	margin: 1px;
	border: none;
}
input[type=button]:focus {
	outline: none;
}
input[type=button]:hover {
	background: #cbcbcb;
	cursor: pointer;
}
#equalsBtn{
	color: #fff;
	background: green;
}
#clear-screen{
	color: #fff;
	background: red;
}
::placeholder {
	font-size: 50px;
}

.is-depressed{
	color: #fff !important;
	background: lightblue !important;
}
.is-depressed-with-shadows{
	color: #fff !important;
	background: blue !important;
}